:root {
  --ff-body: 'Montserrat', sans-serif;
  --gray: rgba(192, 192, 192, 0.8);
  --red: rgb(128, 17, 17);
  --black: #000000;
  --white: #FFFFFF;
  font-size: 62.5%;
  --fs-body: 2rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4.0rem);
  --fs-cards: 3.2rem;
}

body{
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-body);
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;  margin: 0 auto 0;
  margin: 0 auto 0;
  align-items: center;
}

header{
  width: 90%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header img{
  max-width: 7.5rem;
  max-height: 15rem;
  width: auto;
  height: auto;
  opacity: 0.5;
}
header a:hover img{
  opacity: 1;
}
header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.6rem;
}

header a{
  text-decoration: none;
  color: antiquewhite;
}
ul li a {
  opacity: 0.5;
}

ul li a:hover {
font-weight: bold;
opacity: 1;
}



@media (max-width:1095px){
  main {
    flex-direction: column;
  }
}

@media (max-width:540px){

}